extends layout

block content
  div
    img#banner(src="/images/header.png",alt="")
  div(style="text-align:center")
    label
      label#require.required Required Fields 
  form(action="/", method="POST")
    .form-group.form-row.radiochoose
      .form-check
        input.form-check-input#NEWBUSINESS(type="radio", name="classify", value="NEWBUSINESS")
        label.form-check-label NEW BUSINESS
      .form-check
        input.form-check-input#renewal(type="radio", name="classify", value="RENEWAL")
        label.form-check-label RENEWAL
    .form-group
      label.required-label DATE APPLIED
      -var today = new Date()
      p.card.h4 #{today.getFullYear()}-#{("0"+(today.getMonth()+1)).slice(-2)}-#{("0"+today.getDate()).slice(-2)}
    .form-group
      label.required-label COMPANY NAME
      input#companyname.form-control(type='text',name='companyname' required)
      small.form-text.text-muted Please input your company name
    .form-group
      label.required-label STORE NAME
      input#storename.form-control(type='text', name='storename' required)
      small.form-text.text-muted Please input your store name
    .form-group
      label.required-label MAKATI OFFICE ADDRESS/BUSINESS ADDRESS
      input#officeaddress.form-control(type='text', name='officeaddress' required) 
      small.form-text.text-muted Please input your office address
    .form-group
      label.required-label BUSINESS OWNER
      input#buesinessowner.form-control(type='text', name='buesinessowner' required)    
      small.form-text.text-muted Please input your buesiness owner
    .form-group
      label.required-label LINE OF BUSINESS
      select#business.form-control(name='business' required)
        option(value='') Please Choose
      small.form-text.text-muted Please input your buesiness line

    label.required-label.lead.mt-2 TYPE OF OWNERSHIP
    .form-group.form-row.radiochoose
      .form-check
        input.form-check-input#sole(type="radio", name="ownership", value="Sole Proprietor/Partnership" required)
        label.form-check-label Sole-Proprietor /Partnership
      .form-check
        input.form-check-input#corporation(type="radio", name="ownership", value="Corporation")
        label.form-check-label Corporation
    .form-row
      .form-group
        label.form-check-label DTI NO
        input#dtino.form-control(type='number', name='dtino')
        small.form-text.text-muted Please input your DTI NO
      .form-group
          label.form-check-label DATE OF ISSUE
          input#dtidate.form-control(type='date', name='dtidate')
          small.form-text.text-muted Please select the date
    .form-row
      .form-group
        label.form-check-label SEC NO
        input#secno.form-control(type='number', name='secno')
        small.form-text.text-muted Please input your SEC NO
      .form-group
        label.form-check-label DATE OF ISSUE
        input#secdate.form-control(type='date', name='secdate')
        small.form-text.text-muted Please select the date
    .form-group   
      label.form-check-label TIN NO
      input#tinno.form-control(type='number', name='tinno')
      small.form-text.text-muted Please input your TIN NO
    .form-group
      label.required-label.form-check-label PAID-UP CAPITAL
      input#paidupcapital.form-control(type='number', name='paidupcapital' required)
      small.form-text.text-muted Please input your paid-up captial
    
    label.lead.font-weight-normal CONTACT DETAILS
    .form-group
      label.required-label LANDLINE NO
      input#landline.form-control(type='number', name='landline' required)
      small.form-text.text-muted Please input your landline NO
    .form-group
      label.required-label Email ADDRESS
      input#email.form-control(type='email', name='email' required)
      small.form-text.text-muted Please input your E-mail 
    .form-group
      label MOBILE NO.
      input#mobile.form-control(type='mobile', pattern="\\d{11}", title="Must be 11 digits !", placeholder='0960000000', name='mobile')
      small.form-text.text-muted Please input your mobile
    .form-group
      label FAX NO.
      input#fax.form-control(type='text', name='fax')
      small.form-text.text-muted Please input your Fax No
    .form-group
      label PERSON TO CONTACT/DESIGNATION
      input#fax.form-control(type='text', name='designation')  
      small.form-text.text-muted Please input your contact person
    .form-group
      label.lead.font-weight-normal Barangay Clearance Payment Computation
    .form-group.d-flex.flex-row
        label.fee BRGY. CLEARANCE
        input#brgyclearance.form-control(type='number' name='brgyclearance' value='0' readonly) 
    .form-group.d-flex.flex-row
        label.fee STICKER FEE
        input#stikerfee.form-control(type='number' name='stikerfee' value='200' readonly)
    .form-group.d-flex.flex-row
        label.fee MISC. FEE
        input#miscfee.form-control(type='number' name='miscfee' value='0' readonly)
    .form-group.d-flex.flex-row
        label.fee TOTAL AMOUNT
        input#total.form-control(type='number' name='total' value='' readonly)           


      



    button#submit(type="submit", class="btn btn-primary") Submit  

  script.

    $(document).ready(function(){

      document.getElementById("NEWBUSINESS").required = true;

      sum()
      //載入business清單
      let businesslist = #{businesslist}
      let business = $("#business")
      businesslist.forEach(item=>business.append(new Option(item)))

      //Misc.fee 算法
      $("input:radio[name=classify]").change(function(){
        if(this.value == 'newbusiness'){
          $("#miscfee").val("500")
          sum()
        }else if(this.value == 'renewal'){
          $("#miscfee").val("0")
          sum()
        }
      })

      //繳費區間
      $("#paidupcapital").change(function(){
        let paid = this.value;
        const checkList = [
          { min:0,max:4999.99,val:0},
          { min:5000.00,max:50000,val:200},
          { min:50000.01,max:100000,val:300},
          { min:100000.01,max:250000,val:400},
          { min:250000.01,max:500000,val:500},
          { min:500000.01,max:1000000,val:1000},
          { min:1000000.01,max:5000000,val:1500},
          ]
  
        let result = checkList.find(function(checkItem){
          return checkItem.max >= paid && checkItem.min <= paid
        })
        if(result != undefined){
          $("#brgyclearance").val(result.val)
          sum()
        }else{
          $("#brgyclearance").val("2000")
          sum()
        }
        
      })

      function sum(){
      let BRGY = Number($("#brgyclearance").val())
      let stiker = Number($("#stikerfee").val())
      let misc = Number($("#miscfee").val())
      let total = BRGY + stiker + misc
      $("#total").val(total)
      }
      
      
    })
  
    function checkemail(email,callbak){
      let emailrule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
      if(email.search(emailrule)!= -1){
        callbak(true)
      }else{
        callbak(false)
      }
    }










  