doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    include includes/css/jquery-ui.jade
    include includes/css/bootstrap.jade
    
    link(rel='stylesheet', href='/css/style.css')

    include includes/js/jquery.jade
    include includes/js/jquery-ui.jade
    include includes/js/bootstrap.jade

  body
    block content