extends layout

block content
  div.content
    div
      h5 This is to confirm receipt of your Barangay Business Application. 
      h5 To get your Barangay Clearance, kindly see the instructions below:
      p
    div
      p.desc 1. Print the attached Confirmation Form with your verification code: 
        span.verifycode  #{code}
    div
      p.desc 2. Go to Barangay San Lorenzo's Office and pay the indicated computed fee in the amount of Php 
        span.amount #{amount}</span>,to secure your official receipt.     
      h5 3. Present the 
        span.verifycode Confirmation Form</span> to the Clearance section together with the 
        span.verifycode Official Receipt</span> and the required 
        span.verifycode Documents</span>.
      h5 4. Wait for your printed Barangay Clearance.
      h5 Thank you for having your business with Barangay San Lorenzo!
  a.back.btn.btn-primary.btn-md(href="/") Back

  

  script.
    $(document).ready(function(){
    });
    

