body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span #required {
  color: rgb(255, 0, 0)
}

img#banner {
  max-width: 100%;
}

text#accept {
  font-size: 16px
}

.required::before {
  vertical-align: middle;
  padding: 10px;
  font-size: 1.5em;
  content: "*";
  color: red;
}

.form-group .required-label:after {
  vertical-align: middle;
  padding: 10px;
  font-size: 1.5em;
  content: "*";
  color: red;
}

.form-row .form-group {
  padding: 5px;
  width: 50%;
}

.form-row .form-check {
  width: 50%;
}

.fee {
  width: 30%;
}

.content {
  z-index: 1;
  position: absolute;
  width: 100%;
  /* text-align: center; */
  top: 5%;
}

.verifycode {
  color: red;
  font-weight: bold;
}

.amount {
  font-weight: bold;
  text-decoration: underline;
}

.back {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 100%;
}

.radiochoose {
  margin-left: 0px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.desc {
  font-size: 1.25rem;
}

label#require {
  font-weight: bold;
  font-size: 14px;
}